*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.container{
    width: 85%;
    margin: 0 auto;
}
.five_flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.child_flex{
    flex-basis: 30%;
}
.child_flex h6{
    color: blue;
}
.child_flex h1{
    font-size: 45px;
}
.child_flex p{
    color: gray;
    margin-bottom: 20px;
}
.child_flex a{
    background-color: blue;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 35px;
}
.child_flex:hover{
    transform: scale(1.05);
}
.child_flex a:hover{
    background-color: green;
    color: yellow;
}









